.navbar {
  background: silver;
  min-height: 70px;
  width: 100%;
  z-index: 99;
  white-space: nowrap;
  margin: 0;
}

.navbar-brand {
  text-align: center;
  width: 33%;
  font-size: 25px;
  font-weight: 900;
}
